@media ( max-width: 1200px )
  .container
    max-width: 960px

  .hotel-slider
    width: 590px

  .swiper
    &-slide
      &__image
        min-height: 100%
        min-width: 100%
        object-fit: cover

  .card
    width: 230px
    height: 255px
    align-items: center

  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 760px

  .logo
    width: 132px
    height: 18px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px

    &__search
      margin-left: auto
      max-width: 340px

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px

  .hotel
    &-grid
      flex-direction: column

    &-slider
      margin-bottom: 30px

    &-right
      flex-direction: row

  .booking
    width: 340px

  .map
    width: 340px

  .hotel-slider
    width: 100%

  .reviews
    &-slider
      &__item
        max-width: 580px

  .activities
    &-wrapper
      flex-wrap: wrap

    &__card
      margin-bottom: 20px

  .card
    width: 340px

  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px

    &__input
      flex-basis: 48%

    &__logo
      width: 166px
      height: 192px
      grid-column: span 2
      grid-row: 1 / 2

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center

    &__categories
      grid-row: 2 / 3
      grid-column: span 2

    &__legal
      grid-column: span 2

    &__aditional
      grid-column: span 2

    &__contact
      &-details
        grid-column: span 5
        grid-row: 3

      &-form
        grid-column: span 5
        grid-row: 4

    &-bottom
      grid-column: 1 / 7
      grid-template-columns: 2fr 1fr

      &__links
        grid-column: 1
        justify-self: left

      &__pay
        grid-column: 2

@media (max-width: 768px)
  .parallax-mirror
    min-height: 355px

  body
    padding-top: 78px

  .container
    max-width: 700px
    width: 92%

  .user
    flex-direction: column
    justify-content: center

    &__name
      &--light
        margin: 10px 0 0 0
        color: $light

    &--mobile
      &--hidden
        display: none
      &--visible
        display: flex !important

  .navbar
    &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex !important

    &-bottom
      display: none
      position: fixed
      top: 78px
      right: 0
      left: 0
      bottom: 0
      padding-top: 30px
      &--visible
        overflow-y: auto
        animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
        display: block

    &--mobile
      &--fixed
        position: fixed
        left: 0
        right: 0
        top: 0
        z-index: 99

    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px

  .menu
    &-button
      width: 16px
      height: 11px
      border: none
      background-color: $light
      display: flex
      align-items: center
      justify-content: space-evenly
      flex-direction: column
      cursor: pointer
      &:focus
        animation: rotate-center 0.6s ease-in-out both
      &:hover
        animation: rotate-center 0.6s ease-in-out both

      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .stars
    flex-basis: auto

  .hotel
    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0

  .swiper
    &-container
      max-width: 100%
      max-height: 100%

  .hotel
    &-right
      flex-direction: column
      min-height: 450px

  .booking
    width: 100%

  .map
    width: 100%

  .newsletter
    &-wrapper
      display: block
      width: 92%
    &-title
      max-width: 100%

  .reviews
    &-slider
      &__item
        padding: 0 30px 30px

        &::after, &::before
          display: none

      &__button
        top: 32px
        transform: translate(-50%, 0)

        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)

        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)

    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px

  .activities
    padding-top: 40px
    padding-bottom: 60px

  .card
    width: 49%
    height: 255px

  .footer
    &__input
      flex-basis: 100%

    &-bottom
      margin-top: 16px

@media ( max-width: 576px )
  .parallax-mirror
    min-height: 516px

  .navbar

    &__search
      &--mobile
        max-width: 80%

  .logo
    width: 99px

  .hotel
    &-slider
      margin-bottom: 20px
      width: 100%
      max-height: 213px

  .newsletter
    &-wrapper
      margin: 76px 0 83px 20px

    &-title
      margin-top: 76
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px

      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-bottom: 37px

    &__subscribe
      max-width: 90%

  .subscribe
    width: 100%

  .reviews
    &__title
      font-size: 18px
      line-height: 23px

  .activities
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px

    &-wrapper
      justify-content: center

  .card
    max-width: 281px
    flex-basis: 100%

  .footer

    &-wrapper
      grid-row-gap: 30px
      grid-template-columns: 1fr

    &__logo
      grid-row: 1
      grid-column: 1
      width: 104px
      height: 120px

    &__social
      &-network
        grid-row: 2
        grid-column: 1

    &__categories
      grid-row: 3
      grid-column: 1

    &__aditional
      grid-row: 4
      grid-column: 1

    &__legal
      grid-row: 5
      grid-column: 1

    &__contact
      &-details
        max-width: 94%
        margin: 0
        grid-row: 6
        grid-column: 1

    &__contact
      &-form
        max-width: 94%
        margin: 0
        grid-row: 7
        grid-column: 1

    &-bottom
      margin: 0
      grid-row: 8
      grid-column: 1
      grid-template-columns: 1fr
      max-width: 94%

      &__links
        grid-column: 1
        grid-row: 1
        display: flex
        width: 100%
        justify-content: space-between
        flex-basis: 100%

      &__pay
        grid-column: 1
        grid-row: 2
        justify-self: left

@media ( max-width: 320px )

  .navbar

    &-menu
      margin: 0

    &__search
      &--mobile
        max-width: 245px

  .hotel
    &-slider
      max-height: 179px

  .newsletter
    &__subscribe
      max-width: 281px

  .footer

    &__contact
      &-details
        max-width: 281px
    &__footer
      &-form
        margin: 0
        justify-self: center
        max-width: 281px

    &-bottom
      max-width: 281px

  .button
    &-wrapper
      min-height: 95px
      flex-direction: column-reverse
      align-items: flex-start !important
